html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	background-color: #194f79;
	overflow: hidden;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.canvas {
  display: block;
  vertical-align: bottom;
}

.center-container {
	background: #2d74ac;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.name {
	margin-top: -8rem;
	font-size: 2.5rem;
	color: white;
	pointer-events: none;
	transition: 1s;
}

.name.projects-toggled {
	margin-top: -8rem;
	font-size: 2.5rem;
	color: white;
	pointer-events: none;
	transition: 1s;
}

.button {

}
