html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	font-size: 12px;
	background-color: #eaeaea;
	font-family: 'Montserrat', sans-serif;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
	z-index: -1;
}

.canvas {
  display: block;
  vertical-align: bottom;
}

.center-container {
	background-color: #eaeaeacc;
	text-align: center;
	font-weight: normal;
	color: #505050;
	margin: 4rem 1rem;
}

.name {
	font-size: 1.5rem;
	margin-bottom: 3rem;
}

span {
	font-weight: 600;
}

a {
	text-decoration: none;
}

i {
	display: block;
}

.info-title-link, .info-title {
	display: inline-block;
	font-weight: 600;
	color: #505050;
	font-family: 'Montserrat', sans-serif;
}

.info-title-link:hover {
	color: black;
}

.social {
	font-size: 1rem;
	margin-bottom: 3rem;
}

.information {
	font-size: 1rem;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.info-header {
	font-family: 'Fjalla One', sans-serif;
	margin-bottom: 1rem;
}

.info {
	text-align: left;
	font-size: 0.8rem;
	margin-bottom: 1rem;
	font-family: 'Lato', sans-serif;
	margin-left: 1rem;
	margin-right: 1rem;
}

.content {
	grid-column: span 12;
}

a.demo-link {
    color: #316d86;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    float: right;
}

a.demo-link:hover {
    color: #00b4ff;
}

/* For Desktop */
@media only screen and (min-width: 992px) {
	.center-container {
		margin: 10rem 15rem;
	}
	.name {
		font-size: 2.5rem;
		margin-bottom: 5rem;
	}
	.social {
		font-size: 1.5rem;
		margin-bottom: 5rem;
	}
	.content {
		grid-column: span 4;
	}
}
